<launch>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find hercules)/maps/jackal_race.yaml"/>

  <include file="$(find hercules)/launch/amcl.launch"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find hercules)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find hercules)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find hercules)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find hercules)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find hercules)/config/base_local_planner_params.yaml" command="load" />

    <!--<rosparam file="$(find hercules)/config/move_base_params.yaml" command="load" />-->

    
  </node>
</launch>