<?xml version="1.0"?>

<model>
  <name>pioneerbot</name>
  <version>1.0</version>
  <sdf version="1.4">pioneerbot.sdf</sdf>

  <author>
    <name>Sean</name>
    <email></email>
  </author>

  <description>
    A pioneer2dx robot with Hokuyo laser and monocular camera attached
    Plugins:
    - gazebo_ros_camera
    - differential_drive_controller
    - gazebo_ros_head_hokuyo_controller
  </description>
</model>
